<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat-Da-Burger!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
  <script src="/assets/js/utils.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>